
@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    color: orangered;
    text-decoration: underline 2px;
}
.nl:hover{
    color: orangered;
    text-decoration: underline 2px;
}